/* font import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* universal css */
:root {
    /* colors */
    --colorWhite: #ffffff;

    /* background */
    --backgroundMainGradient: radial-gradient(circle at 50% 0%, rgba(31, 55, 86, 1) 0%, rgba(20, 21, 57, 1) 100%);
    
    /* score */
    --scoreHeading: hsl(229, 64%, 46%);
    --scoreText: hsl(229, 25%, 31%);
    --scoreOutline: hsl(217, 16%, 45%);

    /* options */
    --optionScissor: linear-gradient(0deg, hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 100%);
    --optionPaper: linear-gradient(0deg, hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 100%);
    --optionRock: linear-gradient(0deg, hsl(349, 71%, 52%) 0%, hsl(349, 70%, 56%) 100%);
    --optionLizard: linear-gradient(0deg, hsl(261, 73%, 60%) 0%, hsl(261, 72%, 63%) 100%);
    --optionSpock: linear-gradient(0deg, hsl(189, 59%, 53%) 0%, hsl(189, 58%, 57%) 100%);
}

body {
    margin: 0px;
    padding: 0px;

    width: 100vw;
    height: 100vh;

    background: var(--backgroundMainGradient);
}

/* viewport > 900px */

/* viewport < 900px */