/* 

Table of content

-   (17)    font import

-   (20)    universal css

-   (61)    state css

-   (66)   viewport > 900px

-   (148)    viewport < 900px

*/

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Open+Sans&display=swap');

/* universal css */
body {
    margin: 0px;
    padding: 0px;

    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 36%, 70%);
}

h1 {
    text-transform: uppercase;
    color: hsl(0, 6%, 24%);
}

h1 > span {
    color: hsl(0, 36%, 70%);
}

#input-email {
    color: hsl(0, 6%, 24%);
    background-image: url("./images/icon-error.svg");
    background-size: 0 0;
    outline: none;
}

#a-button {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

#a-button:hover, #a-button:active {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
    cursor: pointer;
}

#p-error {
    visibility: hidden;
    color: hsl(0, 93%, 68%);
}

/* state css */
::placeholder {
    color: hsl(0, 36%, 70%);
}

/* viewport > 900px */
@media screen and (min-width: 900px) {

    #container-main {
       display: flex;
       height: 100vh;
    }

    #img-mobile {
        display: none;
    }

    #container-left {
        background-image: url("./images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 58%;
    }

    #container-text {
        width: 60%;
        margin: 7.5% 15% 25%;
    }

    h1 {
        margin: 8rem 0px 0px;
        font-size: 4.3rem;
        font-weight: 400;
        letter-spacing: 1rem;
        line-height: 1.1;
    }

    h1 > span {
        font-weight: 300;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    #container-email {
        display: flex;    
    }

    #input-email {
        width: 80%;
        box-sizing: border-box;
        border: 2px solid hsl(0, 36%, 70%);
        border-radius: 50px;
        font-size: 16px;
        background-position: 75% 12px; 
        background-repeat: no-repeat;
        padding: 15px 20px 15px 40px;
    }

    #a-button {
        padding: 18px 40px;
        border-radius: 50px;
        height: 16px;
        position: relative;
        left: -50px;
        display: flex;
    }

    #p-error {
        margin-top: 0px;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 2.5rem;
    }

    #container-right {
        width: 42%;
        background-image: url("./images/hero-desktop.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
    }
}

/* viewport < 900px */
@media screen and (max-width: 899px) {

    body {
        background-color: hsl(0, 100%, 98%);
    }

    #img-logo {
        height: 1.3rem;
        margin: 2rem;
    }

    #img-mobile {
        display: block;
        height: 250px;
        width: 100%;
    }

    h1 {
        text-align: center;
        margin: 4rem 2rem 1rem;
        font-size: 2.5rem;
        letter-spacing: 1rem;
        font-weight: 600;
        line-height: 1.1;
    }

    h1 > span {
        font-weight: 300;
    }

    #p-text {
        margin: 0px 2rem 2rem;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.6;
        text-align: center;
    }

    #container-email {
        display: flex; 
    }

    #input-email {
        width: 100%;
        margin-left: 2rem;
        box-sizing: border-box;
        border: 1px solid hsl(0, 36%, 70%);
        border-radius: 50px;
        font-size: 0.9rem;
        font-weight: 300;
        background-color: hsl(0, 100%, 98%);
        background-position: 85% 9px; 
        background-repeat: no-repeat;
        padding: 13px 20px 13px 20px;
    }

    #a-button {
        padding: 15px 25px;
        left: -35px;
        border-radius: 50px;
        height: 16px;
        position: relative;
        display: flex;
    }

    #p-error {
        margin: 5px 3.25rem 0px;
        font-size: 0.9rem;
    }

    #container-right {
        height: 3rem;
    }
}