@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --purpleLight: hsl(254, 88%, 90%);
    --purpleDark: hsl(256, 67%, 59%);
    --yellowLight: hsl(31, 66%, 93%);
    --yellowDark: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);

    --backgroundColor: rgb(243,243,243);

    --gap: 1.5rem;

    background-color: var(--backgroundColor);
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.GridMain {
    display: flex;
    flex-direction: row;
    column-gap: var(--gap);
    width: 60vw;
    margin: 5rem 20vw;
}

.GridLeft {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
}

.GridRight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: var(--gap);
    grid-row-gap: var(--gap);
}

#Grid1 { 
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--purpleDark);
}

#Grid2 { 
    grid-area: 1 / 3 / 3 / 4;
    background-color: var(--purpleLight);
}

#Grid3 { 
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--white);
}

#Grid4 { 
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--yellowDark);
}

#Grid5 { 
    grid-area: 3 / 1 / 4 / 2;
    background-color: var(--white);
}

#Grid6 {
    grid-area: 3 / 2 / 4 / 4;
    background-color: var(--purpleDark); 
}

#Grid7 {
    height: 45%;
    background-color: var(--yellowLight);
}

#Grid8 {
    height: 55%;
    background-color: var(--yellowDark);
}

.GridItem {
    border-radius: 10px;
    padding: 1rem;
}

.GridItem > img {
    width: 100px;
}