.GridMain {
    display: flex;
    flex-direction: row;
}

.GridLeft {
    display: flex;
    flex-direction: column;
}

.GridRight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#Grid1 { 
    grid-area: 1 / 1 / 2 / 3; 
}

#Grid2 { 
    grid-area: 1 / 3 / 3 / 4; 
}

#Grid3 { 
    grid-area: 2 / 1 / 4 / 2; 
}

#Grid4 { 
    grid-area: 2 / 2 / 3 / 3;
}

#Grid5 { 
    grid-area: 3 / 2 / 4 / 4; 
}