/* 

Table of content

-   (15)    font import

-   (18)    universal css

-   (68)    viewport > 900px

-   (126)   viewport < 900px

*/

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400;600&display=swap');

/* universal css */
body {
    margin: 0px;
    padding: 0px;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);

    background-color: hsl(0, 0%, 98%);
}

h2, h1 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

.container-card {
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
}

#container-supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

#container-teambuilder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

#container-karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

#container-calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

#container-top {
    text-align: center;
}

#headline1 {
    font-weight: 200;
}

#container-bottom {
    display: flex;
}

/* viewport > 900px */
@media screen and (min-width: 900px){
    
    #container-main {
        width: 80%;
        margin: 4% 10%;
    }

    #container-top {
        width: 50%;
        margin: 0 auto 5%;
    }

    h1 {
        font-size: 2.4rem;
        margin: 0px;
    }

    #container-top > p {
        font-size: 1.05rem;
    }

    #container-bottom {
        justify-content: space-evenly;
    }

    #container-left, #container-middle, #container-right {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #container-teambuilder {
        margin-bottom: 2rem;
    }

    .container-card {
        border-radius: 4px;
        padding: 2rem;
    }

    h2 {
        font-size: 1.35rem;
        margin: 0px;
    }

    .container-card > p {
        font-size: 0.88rem;
        line-height: 1.6;
        margin-bottom: 2rem;
    }

    .img-card {
        float: right;
    }
}

/* viewport < 900px */
@media screen and (max-width: 899px){

    #container-main {
        width: 90%;
        margin: 20% auto;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0px;
    }

    #container-top > p {
        font-size: 1rem;
        margin-bottom: 5rem;
    }
    
    #container-bottom {
        flex-direction: column;
    }

    .container-card {
        border-radius: 4px;
        padding: 1.5rem 2rem;
        margin-bottom: 2rem;
    }

    h2 {
        margin: 0px;
        font-size: 1.2rem;
    }

    .container-card > p {
        font-size: 0.87rem;
        margin: 0.2rem 0px 2rem;
        line-height: 1.6;
    }

    .img-card {
        display: block;
        margin-left: auto;
    }
}