/* 

Table of content

-   (17)    font import

-   (20)    universal css

-   (21)    state css

-   (23)    viewport > 900px

-   (25)    viewport < 900px

*/

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* universal css */
body {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

#container-main {
    display: flex;
}

#container-pricing, #a-claim, #container-input > p{
    text-align: center;
}

#container-pricing {
    background-color: hsl(248, 32%, 49%);
}

#container-input {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2.5rem;
}

#a-claim {
    background-color: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#container-input > p {
    color: hsl(246, 25%, 77%);
}

span {
    color: hsl(0, 100%, 74%);
}
/* state css */
::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 500; 
}

/* viewport > 900px */
@media screen and (min-width: 900px) {
    body {
        background-image: url("./images/bg-intro-desktop.png");
        background-color: hsl(0, 100%, 74%);
    }

    #container-main {
        width: 70%;
        margin: 5rem 15%;
        align-items: center
    }

    #container-left, #container-right {
        width: 50%;
    }

    h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.1;
    }

    #container-left > p {
        font-size: 0.9rem;
        line-height: 1.6;
    }

    #container-pricing {
        border-radius: 10px;
        margin: 0 0 1rem;
    }

    #container-pricing > p {
        font-size: 0.9rem;
        padding: 1em 0; 
        margin: 0px;
    }

    #container-input {
        gap: 1rem;
        border-radius: 10px;
    }

    .input-form {
        padding: 1rem 2rem;
        border: 1px solid;
        border-radius: 5px;
        border-color: hsl(246, 25%, 77%);
        font-size: 0.9rem;
    }

    #a-claim {
        font-size: 0.9rem;
        padding: 1em 0;
        border-radius: 5px;
    } 

    #container-input > p {
        font-size: 0.6rem;
        margin: 0;
    }
}
/* viewport < 900px */
@media screen and (max-width: 899px) {
    body {
        background-image: url("./images/bg-intro-mobile.png");
        background-color: hsl(0, 100%, 74%);
    } 
}