/* 

Table of content

-   (15)    font import

-   (18)    universal css

-   (80)    viewport > 900px

-   (130)   viewport < 900px

*/

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* universal css */
body {
    margin: 0px;
    padding: 0px;
    color: hsl(227, 10%, 46%);
    background-color: hsl(185, 75%, 39%);   
    text-align: center;
    font-family: "Kumbh+Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
}

#div-main-container {
    border-radius: 10px;
    z-index: 2;
}

#img-header {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#img-profile {
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -3.5rem;
}

h1 {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin: 0px;
    font-size: 1.2rem;
}

span {
    color: hsl(227, 10%, 46%); 
    font-weight: 400;
}

#div-statistic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid hsl(0, 0%, 59%);
}

.div-container {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin: 10px 5px 0px 5px;
    padding: 15px;
}

.div-container > p {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    margin: 5px 0px 10px 0px;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

/* viewport > 900px */
@media screen and (min-width: 900px) {

    #img-background1 {
        position: absolute;
        top: -500px;
        left: -275px;
        z-index: 1;
    }
    
    #img-background2 {
        position: absolute;
        top: 400px;
        left: 700px;
        z-index: 1;
    }

    #div-main-container {
        width: 25%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: white;
    }

    #p-city {
        margin: 10px 0px 25px;
        font-size: 0.9rem;
    }

    .div-container {
        margin: 10px 5px 0px 5px;
        padding: 15px;
    }

    .div-container > p {
        margin: 5px 0px 10px 0px;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
    }
}

/* viewport < 900px */
@media screen and (max-width: 899px) {
    #img-background1 {
        position: absolute;
        top: -650px;
        left: -750px;
        z-index: 1;
    }
    
    #img-background2 {
        position: absolute;
        top: 300px;
        left: 150px;
        z-index: 1;
    }

    #div-main-container {
        width: 90%;
        margin: 150px 5% 0px;
        position: absolute;
        background-color: white;
    }
}