/* 

Table of content

-   (17)    font import

-   (20)    universal css

-   (86)    state css

-   (88)    viewport > 900px

-   (145)   viewport < 900px

*/

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* universal css */
body {
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: hsl(240, 6%, 50%);

    background-image: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
}

#container-main {
    background-color: white;
    border-radius: 20px;
    display: flex;
}

h1 {
    color: hsl(238, 29%, 16%);
}

.accordion {
    width: 100%;
    text-align: left;
    padding: 1rem 0;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    color: hsl(238, 29%, 16%);
    transition: 0.4s;
}

.accordion:after {
    content: url("./images/icon-arrow-down.svg");
    transition: 0.2s;
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.panel > p {
    margin: 0 0 1rem;
}

.active {
    font-weight: 700;
}

.active:after {
    content: url("./images/icon-arrow-down.svg");
    transform: rotate(180deg);
    transition: 0.4s;
  }

/* state css */

/* viewport > 900px */
@media screen and (min-width: 900px){

    #container-main {
        width: 60%;
        margin: 5rem 20% 0;
    }

    #container-left {
        width: 50%;
        background-image: url("./images/bg-pattern-desktop.svg");
        background-position: 107% 65%;
        background-repeat: no-repeat;

        position: relative;
        overflow: hidden;
    }
    
    #container-right {
        width: 50%;
    }
    
    #container-accordion {
        padding: 0 5rem 0 2rem;
        margin: 0 0 5rem;
    }

    h1 {
        font-size: 2rem;
        margin: 4rem 0 2rem 2rem;
    }

    #img-main {
        position: absolute;
        top: 15%;
        left: -18%;
        z-index: 1;
        display: block;
    }
    
    #img-box {
        position: absolute;
        top: 32%;
        left: 13.6%;
        z-index: 2;
        display: block;
    }

    #img-main-mobile {
        display: none;
    }

    .accordion:hover {
        color: hsl(14, 88%, 65%);
    }
}

/* viewport < 900px */
@media screen and (max-width: 899px){
    
    #container-main {
        flex-direction: column;
        width: 90%;
        margin: 9rem 5% 0;
    }

    #img-main, #img-box {
        display: none;
    }

    #container-left {
        display: flex;
        justify-content: center;
        position: relative;
        background-image: url("./images/bg-pattern-mobile.svg");
        background-position: 50% 17%;
        background-repeat: no-repeat;
        height: 7rem;
    }

    #img-main-mobile {
        width: 65%;
        display: block;
        position: absolute;
        top: 5%;
        left: 17%;
    }

    #container-right {
        width: 90%;
        margin: 0 5% 3rem;
    }

    .accordion {
        padding: 1rem 0;
        -webkit-tap-highlight-color: transparent;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
    }

    .panel > p {
        line-height: 1.6;
        font-size: 1em;
        padding-right: 50px;
    }
}