@import url('https://fonts.google.com/specimen/Red+Hat+Display');
body {
    font-family: 'Red+Hat+Display';
    font-weight: 500;

    min-height: 100vh;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
}

p {
    font-size: 16px;
}

#div-container {
    border: 1px solid black;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 375px){
   body {
    background-image: url("images/pattern-background-mobile.svg");
   } 
}