@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: hsl(224, 23%, 55%);

    min-height: 100vh;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
}

#div-container {
    width: 25%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
}

#container-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

#payment-headline {
    font-size: 1.3em;
    color: hsl(223, 47%, 23%);
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
}

#payment-text {
    font-size: 0.8em;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    line-height: 1.5;
}

#div-paymentplan {
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    margin: auto;
    height: 80px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

#div-img-music-group {
    width: 25%;
}

#img-music {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

#div-annualplan-group {
    width: 55%;
    float: left;
}

#div-annualplan-headline {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    font-size: 0.9em;
}

#div-annualplan-text {
    font-size: 0.9em;
}

#btn-change {
    font-size: 0.7em;
    width: 20%;
}

#btn-change:active, #btn-change:hover {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

#btn-payment {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    font-weight: 700;
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#btn-payment:active, #btn-payment:hover {
    background-color: hsl(224, 23%, 55%);
}

#btn-cancel {
    text-align: center;
    margin-bottom: 25px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    color: hsl(224, 23%, 55%);
    font-size: 0.7em;
    font-weight: 700;
    width: fit-content;
}

#btn-cancel:active, #btn-cancel:hover {
    color: black;
}

@media screen and (max-width: 999px){
   body {
    background-image: url("images/pattern-background-mobile.svg");
   } 

   #div-container {
       width: 90%;
   }
}