/* font import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* universal css */
body {
    margin: 0px;
    padding: 0px;

    font-family: "Barlow Semi Condensed";
    font-size: 13px;

    box-sizing: border-box;
    background-color: hsl(210, 46%, 95%);
}
    
.gridOne { 
    background-color: hsl(263, 55%, 52%);
}

.gridTwo { 
    background-color: hsl(217, 19%, 35%);
}

.gridThree { 
    background-color: hsl(0, 0%, 100%);
}

.gridFour { 
    background-color: hsl(0, 0%, 100%);
}

.gridFive { 
    background-color: hsl(219, 29%, 14%);
}

.gridOne, .gridTwo, .gridThree, .gridFour, .gridFive {
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
}

.gridOne, .gridTwo, .gridFive {
    color: white;
}

.gridThree, .gridFour {
   color: hsl(219, 29%, 14%); 
}

.gridOne {
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
}

.containerHead {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > p {
    margin: 0px;
}

.imgAvatar {
    border-radius: 50px;
    width: 30px;
    border-width: 2px;
    border-style: solid;
}

#imgOne {
    border-color: rgb(167, 117, 241);
}
#imgTwo {
   border-color: hsl(217, 19%, 35%); 
}
#imgThree {
   border-color: hsl(0, 0%, 100%); 
}
#imgFour {
    border-color: hsl(0, 0%, 100%);
}
#imgFive {
    border-color: hsl(263, 55%, 52%);
}

.pVG {
    opacity: 50%;
    font-size: 11px;
}

.hQuote {
    font-size: 1.2rem;
}

.pText {
    opacity: 70%;
    margin: 0px;
    line-height: 1.5;
}

/* viewport > 900px */
@media screen and (min-width: 900px) {
    
    .containerMain {
        width: 76%;
        margin: 4% auto 0px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    .gridOne { 
        grid-area: 1 / 1 / 2 / 3;
    }
    
    .gridTwo { 
        grid-area: 1 / 3 / 2 / 4;
    }
    
    .gridThree { 
        grid-area: 1 / 4 / 3 / 5; 
    }
    
    .gridFour { 
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .gridFive { 
        grid-area: 2 / 2 / 3 / 4; 
    }

    .gridOne {
        background-position-x: 80%;
    }
}

/* viewport < 900px */
@media screen and (max-width: 899px) {
    
    .containerMain {
        width: 90%;
        margin: 5rem auto 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .gridOne { 
        order: 1;
    }
    
    .gridTwo { 
        order: 2;
    }
    
    .gridThree { 
         order: 5;
    }
    
    .gridFour { 
        order: 3;
    }
    
    .gridFive { 
         order: 4;
    }

    .gridOne {
        background-position-x: 90%;
    }

    .pText {
        font-size: 0.9rem;
    }
}