/* font import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* universal css */
body {
    margin: 0px;
    padding: 0px;

    font-family: "Barlow Semi Condensed";
    font-size: 13px;

    box-sizing: border-box;
}

.containerMain {
    width: 75%;
    margin: 5rem auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}
    
.gridOne { 
    grid-area: 1 / 1 / 2 / 3;
    background-color: hsl(263, 55%, 52%);
}

.gridTwo { 
    grid-area: 1 / 3 / 2 / 4;
    background-color: hsl(217, 19%, 35%);
}

.gridThree { 
    grid-area: 1 / 4 / 3 / 5; 
    background-color: hsl(0, 0%, 100%);
}

.gridFour { 
    grid-area: 2 / 1 / 3 / 2;
    background-color: hsl(0, 0%, 100%);
}

.gridFive { 
    grid-area: 2 / 2 / 3 / 4; 
    background-color: hsl(219, 29%, 14%);
}

.gridOne, .gridTwo, .gridThree, .gridFour, .gridFive {
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* state css */

/* viewport > 900px */

/* viewport < 900px */