@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

span {
    color: hsl(277, 64%, 61%);
}

#div-main-headline {
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

#div-main-text {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

#div-flexbox {
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.div-stats-heading {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

@media screen and (min-width: 1000px){

    body {
        height: 100vh;
        margin: 0px;
        position: relative;
        background-color: hsl(233, 47%, 7%);
    }
        
    #div-main-container {
        width: 80%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: flex;
    }

    #div-main-left {
        background-color: hsl(244, 38%, 16%);
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #div-main-headline {
        font-size: 2em;
        padding-left: 60px;
        padding-right: 120px;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    #div-main-text {
        font-size: 0.9em;
        padding-left: 60px;
        padding-right: 160px;
        margin-bottom: 70px;
    }

    #div-flexbox {
        display: flex;
        padding-left: 60px;
        padding-right: 180px;
        margin-bottom: 70px;
    }

    #div-box1, #div-box2, #div-box3 {
        font-size: 1.5em;
    }

    #div-box2 {
        margin: auto;
    }

    .div-stats-heading {
        font-size: 0.8rem;
    }

    #div-main-right {
        width: 50%;
        background: linear-gradient(hsla(277, 64%, 61%, 0.5), hsla(277, 64%, 61%, 0.5)), url(./images/image-header-desktop.jpg);
        background-size: cover;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
@media screen and (min-width: 375px){
   
    body {
        height: 100vh;
        margin: 0px;
        position: relative;
        background-color: hsl(233, 47%, 7%);
        text-align: center;
    }

    #div-main-container {
        width: 80%;
        margin: 0;
        margin-left: 10%;
        margin-right: 10%;
        display:flex;
        flex-flow: column;
    }

    #div-main-left {
        order: 2;
        background-color: hsl(244, 38%, 16%);
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #div-main-headline {
        font-size: 1.5em;
        margin-left: 10%;
        margin-right: 10%;
    }

    #div-main-text {
        font-size: 0.8em;
        margin-left: 12%;
        margin-right: 12%;
    }

    #div-flexbox {
        line-height: 1.6;
        margin-top: 25px;
    }
    
    .div-stats-heading {
        font-size: 0.8rem;
    }

    #div-box1, #div-box2, #div-box3 {
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    
    #div-main-right {
        order: 1;
        width: 100%;
        height: 225px;
        margin-top: 20px;
        background: linear-gradient(hsla(277, 64%, 61%, 0.5), hsla(277, 64%, 61%, 0.5)), url(./images/image-header-desktop.jpg);
        background-size: cover;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
    }
 }