/* font import */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* universal css */
:root {
    --fontColor: hsl(0, 0%, 100%);
    --backgroundColor: hsl(216, 12%, 8%);
    --backgroundColorContainer: hsl(213, 19%, 18%);
    --highlightColor: hsl(25, 97%, 53%);
    --textColor: hsl(216, 12%, 54%);
}

body {
    margin: 0px;
    padding: 0px;

    font-family: "Overpass", sans-serif;
    font-size: 15px;
    font-weight: 400;

    color: var(--fontColor);
    background-color: var(--backgroundColor);
}

.radioButton {
    display: none;
}

#mainContainer {
    width: 29%;
    margin: 10vh auto 0;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    background: radial-gradient(circle at 50% 0%, hsl(213, 19%, 18%) 0%, hsl(216, 12%, 8%) 150%);

    border-radius: 25px;
    padding: 2rem;
    box-sizing: border-box;
}

.contentContainer > p {
    color: var(--textColor);
    line-height: 1.6;
}

#imgStar {
    width: 1rem;
}

#star {
    border-radius: 50%;
    background-color: var(--backgroundColorContainer);
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    font-weight: 700;
}

h1 {
    margin-bottom: 0.2rem;
    font-weight: 700;
    font-size: 1.6rem;
}

#radioContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.radio {
    border-radius: 50%;
    background-color: var(--backgroundColorContainer);
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 5px;
}

.radio:hover {
    background-color: var(--highlightColor) !important;
    color: var(--fontColor) !important;
}

#buttonSubmit {
    width: 100%;
    background-color: var(--highlightColor);
    color: var(--fontColor);
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.8rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    border: 0px;
    outline-style: none;
}

#buttonSubmit:hover, #buttonSubmit:active {
    background-color: var(--fontColor);
    color: var(--highlightColor);
}

#finalContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#pStars {
    margin-top: 2rem;
    padding: 0.3rem 1rem;
    height: 19px;
    border: 0px;
    border-radius: 50px;
    color: var(--highlightColor);
    background-color: var(--backgroundColorContainer);
}

/* viewport > 900px */

/* viewport < 900px */